<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lb.memory.mapper.ContentMapper">

	<select id="selectAll" resultType="com.lb.memory.pojo.Content">
		select * from blog_contents
		<if test="cid!=null">
			where cid = #{cid}
		</if>
		<if test="cid==null">
			order by created desc,cid desc
		</if>
		<if test="cid==null and start!=null and count!=null">
			limit #{start},#{count}
		</if>
	</select>
	
	<select id="selectRowCount" resultType="Integer">
		select count(*) from blog_contents
	</select>
	
</mapper>