<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.lb.memory.controller"></context:component-scan>

	<!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 配置自定义的视图解析器，使用order设置视图解析器的优先级，order的值超小优先级超高,InternalResourceViewResolver的order为Integer的最大值 -->
	<!-- <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="1"></property>
	</bean> -->
	
	<!-- <bean name="toExcel" class="com.dhee.springmvc.view.UserExcel"></bean> -->

	<!-- 配置国际化资源文件 -->
	<!-- <bean name="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="dhee"></property>
	</bean> -->

	<!-- 设置名为ok的请求，不需要Controller，直接访问名字为success的视图 -->
	<mvc:view-controller path="/index" view-name="index" />
	
	<!-- 设置SpringMVC不去处理.js,.css,图片等静态资源 -->
	<mvc:default-servlet-handler></mvc:default-servlet-handler>
	
	<!-- 保证其它需要Controller的功能正常执行 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven> -->

	<!-- 配置自定义类型转换器 -->
	<!-- <bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.dhee.common.DateConverter"></bean>
			</list>	
		</property>
	</bean> -->

	<!-- 对上传文件的解析-->
    <!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/fore*"/>
            <bean class="com.lb.memory.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/fore*"/>
            <bean class="com.lb.memory.interceptor.OtherInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors> -->

</beans>
